h3 {
  color: #fff;
  font-family: "Urban Syndicate Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact h3 {
  margin: 0 0 20px 0; /* marge de 22px en bas */
}
.contact {
  margin-top: 18px;
  margin-left: -11%;
}
.title-contact {
  margin-top: 35%;
  margin-left: -3%;
}
